<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Devices)"></nav>
<div class="container">
    <div class="form-group">
        <div class="col-xs-15">
            <div th:if="${deviceCreationError != null}">
                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                    <span th:text="${deviceCreationError}"></span>
                </div>
            </div>
        </div>
    </div>


    <form class="form-horizontal" th:action="@{/devices/edit}" th:object="${device}" method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{title}">

        <!--        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>-->
        <!--        <input type="hidden" th:field="*{id}" class="form-control" id="deviceId">-->
        <h2 th:text="*{title.title}"></h2>
        <hr>


        <div class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"></div>

        <div class="col-4">
            <label for="number-id">Номер</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        №
                    </div>
                </div>
                <input th:field="*{number}" type="text" class="form-control" id="number-id"
                       placeholder="Введите номер прибора" required>
            </div>
        </div>

        <div class="col-auto">
            <label for="strVintage-id">Дата изготовления</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
                <input type="text" class="form-date" name="strVintage"
                       id="strVintage-id" th:value="${strVintage}" placeholder="дд.мм.гггг">
            </div>
        </div>

        <div class="col-auto">
            <label for="strOtkDate-id">Дата приемки отк</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>
                <input type="text" class="form-date" name="strOtkDate" id="strOtkDate-id" th:value="${strOtkDate}"
                       placeholder="дд.мм.гггг">
            </div>
        </div>
        <div class="col-4">
            <label for="strVpDate-id">Дата приемки ВП</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>

                <input type="text" class="form-date" name="strVpDate" id="strVpDate-id" th:value="${strVpDate}"
                       placeholder="дд.мм.гггг">
            </div>
        </div>
        <div class="col-3">
            <label for="vpNumber-id">Военное представительство</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-star" aria-hidden="true"></i>
                    </div>
                </div>
                <input type="text" class="form-control" name="strVpDate" id="vpNumber-id" th:field="*{vpNumber}">
            </div>
        </div>
        <div class="col-3">
            <label for="purpose-id">Назначение</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                    </div>
                </div>
                <input type="text" class="form-control" name="strVpDate" id="purpose-id" th:field="*{purpose}">
            </div>
        </div>
        <div class="col-auto">
            <label for="purposePassport-id">Назначение по паспорту</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-archive" aria-hidden="true"></i>
                    </div>
                </div>
                <input type="text" class="form-control" name="strVpDate" id="purposePassport-id"
                       th:field="*{purposePassport}">
            </div>
        </div>
        <div th:if="${not #lists.isEmpty(device.components)}" class="col-auto">
            <h5>Составные части</h5>
            <ul>
                <li th:each="t, i : ${device.components}">
                    <input type="hidden" th:field="*{components[__${i.index}__].title.id}">
                    <input type="hidden" th:field="*{components[__${i.index}__].id}">
                    <!--                    <input type="hidden" th:field="*{components[__${i.index}__].title.title}">-->
                    <label th:text="*{components[__${i.index}__].title.title}"></label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                №
                            </div>
                        </div>
                        <input type="text" th:field="*{components[__${i.index}__].number}">
                    </div>
                </li>
            </ul>
        </div>

        <div class="col-4">
            <label for="system-id">Входит в состав системы:</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                    </div>
                </div>
                <select class="custom-select" th:field="*{system}" id="system-id">
                    <option th:each="system : ${systems}"
                            th:value="${system.id}"
                            th:text="${system.title.title} + ' ' + ${system.number}">
                    </option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>

<div th:replace="layouts :: footer"></div>
<div th:replace="layouts :: date"></div>
</body>
</html>