<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Devices)"></nav>

<div class="container">
    <br>
    <h1>Каталог приборов</h1>
    <hr>

    <div>
        <a th:href="@{/devices/0}"
           class="btn btn-primary btn-sm mb-3">
            Добавить
        </a>
    </div>

    <span th:if="${devices.size() == 0}" th:text="'Приборов нет'"></span>

    <table th:unless="${devices.size() == 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Дата изготовления</th>
            <th>Название прибора</th>
            <th>Номер</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="device, i : ${devices}" th:attr="sys_id=${device.id}"
            th:onclick="'window.location.href=\'devices/' + ${device.id} + '\'; return false'">
            <td th:text="${i.count}"/>
            <td th:text="${device.title.title}"/>
            <td th:text="${device.title.getTitle()}"/>
            <td th:text="${device.number}"/>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>