<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Devices)"></nav>

<div class="container">
    <br>
    <h1>Каталог приборов</h1>
    <hr>

    <span th:if="${devices.size() == 0}" th:text="'Приборов нет'"></span>

    <table th:unless="${devices.size() == 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Дата изготовления</th>
            <th>Название прибора</th>
            <th>Номер</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="device, i : ${devices}" th:attr="sys_id=${device.id}"
            th:onclick="'window.location.href=\'devices/' + ${device.id} + '\'; return false'">
            <td th:text="${i.count}"/>
            <td th:text="${device.vintage}"/>
            <td th:text="${device.title.getTitle()}"/>
            <td th:text="${device.number}"/>
        </tr>
        </tbody>
    </table>

    <div>
        <form class="form-horizontal" th:action="@{/devices/0}" method="get">
            <div class="col-auto">
                <label for="topic-id">Выберите тему</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                        </div>
                    </div>
                    <select class="custom-select" id="topic-id" onchange="onChangeTopic(this)">
                        <option th:each="t : ${topicTitleList}"
                                th:value="${t.id}"
                                th:text="${t.title}">
                        </option>
                    </select>
                </div>
            </div>

            <div class="col-auto">
                <label for="systemTitle-id">Выберите название системы</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                        </div>
                    </div>
                    <select class="custom-select" id="systemTitle-id" onchange="onChangeSystem(this)"></select>
                </div>
            </div>

            <div class="col-auto device">
                <label for="deviceTitle-id">Выберите название прибора (опционально)</label>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <i class="fa fa-rocket" aria-hidden="true"></i>
                        </div>
                    </div>
                    <select class="custom-select" id="deviceTitle-id" name="deviceTitle"></select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Добавить</button>
        </form>
    </div>
</div>
<div th:replace="layouts :: footer"></div>
<script th:src="@{/js/ajaxes.js}"></script>
<script>
    onChangeTopic(document.getElementById("topic-id"));
</script>
</body>
</html>