<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="admin/fragments/header :: head"></head>

<body class="bg-light">

<div th:replace="admin/fragments/header :: header"></div>

<div class="d-flex">
    <div th:replace="admin/fragments/sidebar :: sidebar"></div>

    <div class="content p-4">
        <h2 class="mb-4">Список ролей пользователей</h2>

        <div class="card mb-4">

            <div class="card-body">
                <form class="form-group" th:action="@{/admin/role/create}">
                    <button type="submit" class="btn btn-primary">Создать новую роль</button>
                </form>

                <table id="categories" class="table table-hover">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Имя</th>
                        <th>Действия</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="role : ${roles}">
                        <td th:text="${role.id}"></td>
                        <td th:text="${role.name}"></td>
                        <td>
                            <a th:href="@{role/{id}/update(id=${role.getId()})}" class="btn btn-icon btn-pill btn-primary" data-toggle="tooltip" title="Edit"><i class="fa fa-fw fa-edit"></i></a>
                            <a th:href="@{role/{id}/delete(id=${role.getId()})}" class="btn btn-icon btn-pill btn-danger" data-toggle="tooltip" title="Delete"><i class="fa fa-fw fa-trash"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script th:replace="admin/fragments/footer :: scripts"></script>
<script th:src="@{/admin/js/datatables.min.js}"></script>
<script>
    $(document).ready(function () {
        $('#categories').DataTable();
    });
</script>

</body>
</html>