<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Admin)"></nav>

<div class="container">
    <br>
    <h1>Список тем</h1>
    <hr>

    <a th:href="@{topics/0}"
       class="btn btn-primary btn-sm mb-3">
        Добавить
    </a>
    <span th:if="${topics.size() == 0}" th:text="'Тем нет'" ></span>

    <table th:unless="${topics.size() == 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        <!--        th:onclick="'window.location.href=\'invoices/' + ${invoice.id} + '\'; return false'"-->
        <tr th:each="topic, iterator : ${topics}" th:attr="sys_id=${topic.id}">
            <td th:text="${iterator.count}"></td>
            <td>
                <a th:href="@{/titles/topics/__${topic.id}__}" th:text="${topic.title}"></a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>
