<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Invoices)"></nav>

<div class="container">
    <!--<div class="form-group">
        <div class="col-xs-15">
            <div th:if="${invoiceCreationError != null}">
                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                    <span th:text="${invoiceCreationError}" ></span>
                </div>
            </div>
        </div>
    </div>-->

    <header class="card-header">
        <h4 class="card-title mt-2"><span
                th:text="${invoice.number == null} ? 'Добавление накладной' : 'Изменение накладной'"></span></h4>
    </header>
    <form th:action="@{/invoices/edit}" th:object="${invoice}" enctype="multipart/form-data" method="post">
        <input hidden type="text" th:field="*{id}" class="form-control" id="systemId">

        <!--<div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></div>-->

        <div class="col-auto">
            <label for="invoiceNumber-id">Введите номер накладной</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        №
                    </div>
                </div>
                <input type="text" class="form-control" id="invoiceNumber-id" th:field="*{number}">
                <small class="error" th:if="${#fields.hasErrors('number')}" th:errors="*{number}"> </small>
            </div>
        </div>

        <div class="col-auto">
            <label for="strVpDate-id">Дата приемки ВП</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>

                <input type="text" class="form-date" id="strVpDate-id" th:field="*{date}"
                       placeholder="дд.мм.гггг">
            </div>
        </div>

        <div class="col-auto">
            <label for="from-id">Выберите предприятие отправителя</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                    </div>
                </div>
                <select class="custom-select" id="from-id" th:field="*{from.id}">
                    <option th:each="companyOld: ${companies}"
                            th:value="${companyOld.id}"
                            th:text="${companyOld.title}">
                    </option>
                </select>
            </div>
        </div>

        <div class="col-auto">
            <label for="destination-id">Выберите предприятие получателя</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-rocket" aria-hidden="true"></i>
                    </div>
                </div>
                <select class="custom-select" id="destination-id" th:field="*{destination.id}">
                    <option th:each="companyOld: ${companies}"
                            th:value="${companyOld.id}"
                            th:text="${companyOld.title}">
                    </option>
                </select>
            </div>
        </div>

        <br>
        <div class="col-md-6 mb-3">
            Системы:<br>
            <ul class="list-group" th:field="*{systems}">
                <li th:each="system, iterator : *{systems}"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <span th:text="${system.systemTitle.title} + ' №' +${system.number}"></span>
                    <a th:href="@{'/invoices/' + ${invoice.id} + '/system/' + ${iterator.index} + '/delete'}"><i
                            class="fa fa-trash" style="color: red;"></i></a>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-md-6 mb-3">
            Приборы:<br>
            <ul class="list-group" th:field="*{devices}">
                <li th:each="device, iterator : *{devices}"
                    class="list-group-item d-flex justify-content-between align-items-center">
                    <!--                <a th:href="@{'/devices/' + ${device.id}}"></a>-->
                    <span th:text="${device.deviceTitle.title} + ' №' +${device.number}"></span>
                    <a th:href="@{'/invoices/' + ${invoice.id} + '/device/' + ${iterator.index} + '/delete'}">
                        <i class="fa fa-trash" style="color: red;"></i>
                    </a>
                </li>
            </ul>
            <br>
        </div>
        <div class="col-auto download-file">
            <div th:if="${invoice.path != null}" class="form-row">
                Файл: <a class="file-link" th:href="@{'/files/invoices/' + ${invoice.path}}" th:text="${invoice.path}"
                         target="_blank"></a>
                <a class="delete-link" th:href="@{'/invoices/' + ${invoice.id} + '/file/delete'}">
                    <i class="fa fa-trash" style="color: red;"></i>
                </a>
                <br>
                <br>
            </div>
        </div>

        <div class="col-auto upload-file">
            <div th:unless="${invoice.path != null}" class="form-group">
                <label for="exampleFormControlFile1">Выберите файл накладной</label>
                <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </div>
        <!--            <label for="itemNumber-id">Выберите файл накладной</label>-->
        <!--            <div class="input-group mb-3">-->
        <!--<div class="input-group-prepend">
            <div class="input-group-text">
                <i class="fa fa-upload" aria-hidden="true"></i>
            </div>
        </div>-->
        <!--<div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile02" name="file">
            <label class="custom-file-label" for="inputGroupFile02">Выберите файл</label>
        </div>-->
        <!--            </div>-->


        <div class="form-row">
            <div class="col-md-6 mb-3">
                <button type="button" name="btnShowAddDeviceForm" onclick="showDeviceForm()" class="btn btn-primary">
                    Добавить прибор
                </button>
                <div class="add-device"></div>
            </div>
            <div class="col-md-6 mb-3">
                <button type="button" name="btnShowAddSystemForm" onclick="showSystemFrom()" class="btn btn-primary">
                    Добавить систему
                </button>
                <div class="add-system"></div>
            </div>
        </div>

        <hr>
        <div class="form-group">
            <button type="submit" name="addInvoice" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>
<div th:replace="layouts :: footer"></div>
<div th:replace="layouts :: date"></div>

<script th:src="@{/js/ajaxes.js}"></script>
<script th:inline="javascript">

    var topics = [[${topicTitleList}]];
    var txt ="       <div class=\"form-group\">\n" +
        "                <label for=\"exampleFormControlFile1\">Выберите файл накладной</label>\n" +
        "                <input name=\"file\" type=\"file\" class=\"form-control-file\" id=\"exampleFormControlFile1\">\n" +
        "            </div>\n";


    $('.delete-link').click(function (event) {
        event.preventDefault();
        if (confirm("Удалить файл " + $('.file-link').html() + "?")) {
            $.ajax({
                url: $('.delete-link').attr('href'), // отткель
                success: function () {
                    $('.upload-file').append(txt);
                    $('.download-file').empty();

                    fillTopics()
                }  // callback
            });
        } else {
            return false;
        }

    });


    function showDeviceForm() {
        $.ajax({
            url: "/asrd/ajax/add-device.html", // отткель
            dataType: "html",         // формат
            success: function (data) {
                $('.add-device').html(data);
                $('.add-system').empty();
                fillTopics()
            }  // callback
        });
    }

    function showSystemFrom() {
        $.ajax({
            url: "/asrd/ajax/add-system.html", // отткель
            dataType: "html",         // формат
            success: function (data) {
                $('.add-system').html(data);
                $('.add-device').empty();
                fillTopics()
            }  // callback
        });
    }

    function fillTopics() {
        for (var i = 0; i < topics.length; i++) {
            $('#topic-id').append("<option value = " + topics[i].id + ">" + topics[i].title + "</option>")
        }
        onChangeTopic(document.getElementById("topic-id"));
    }

</script>
</body>
</html>