<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Invoices)"></nav>

<div class="container">
    <br>
    <h1>Каталог накладных</h1>
    <hr>

    <a th:href="@{/invoices/0/update}"
       class="btn btn-primary btn-sm mb-3">
        Добавить
    </a>
    <span th:if="${invoices.size() == 0}" th:text="'Накладных нет'" ></span>

    <table th:unless="${invoices.size() == 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Номер</th>
            <th>Дата</th>
            <th>Файл</th>
            <th>Отправитель</th>
            <th>Получатель</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
<!--        th:onclick="'window.location.href=\'invoices/' + ${invoice.id} + '\'; return false'"-->
        <tr th:each="invoice, iterator : ${invoices}" th:attr="sys_id=${invoice.id}">
            <td th:text="${iterator.count}"></td>
            <td><a href="#" th:href="@{'/invoices/' + ${invoice.id} + '/show'}" th:text="${invoice.number}"></a></td>
            <td th:text="${invoice.date}"></td>
            <td>
                <a th:href="@{'/files/invoices/' + ${invoice.path}}" th:text="${invoice.path}" target="_blank"></a>
            </td>
            <td th:text="${invoice.from.getTitle()}"></td>
            <td th:text="${invoice.destination.getTitle()}"></td>
            <td th:text="${invoice.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>
