<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Invoices)"></nav>

<div class="container">
    <br>
    <h1>Каталог накладных</h1>
    <hr>

    <a th:href="@{/invoices/0}"
       class="btn btn-primary btn-sm mb-3">
        Добавить
    </a>
    <span th:if="${invoices.size() == 0}" th:text="'Накладных нет'" ></span>

    <table th:unless="${invoices.size() == 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>Дата</th>
            <th>Путь к файлу</th>
            <th>Отправитель</th>
            <th>Получатель</th>
            <th>Описание</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="invoice : ${invoices}" th:attr="sys_id=${invoice.id}" th:onclick="'window.location.href=\'invoices/' + ${invoice.id} + '\'; return false'">
            <td th:text="${invoice.id}"/>
            <td th:text="${invoice.number}"/>
            <td th:text="${invoice.date}"/>
            <td th:text="${invoice.path}"/>
            <td th:text="${invoice.from.getTitle()}"/>
            <td th:text="${invoice.destination.getTitle()}"/>
            <td th:text="${invoice.description}"/>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>
