.table thead th {
    white-space: nowrap;
    vertical-align: middle;
}

.wide-column {
    width: 300px;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1340px;
    }}

.error{
    color: red;
    font-weight: bold;
}