<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <title>Каталог предприятий</title>

    <link rel="icon" type="image/png" th:href="@{/favicon.ico}"/>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    <meta name="ctx" th:content="${#httpServletRequest.getContextPath()}"/>
</head>

<body>

<div th:replace="~{navigation :: navi(Company)}"></div>

<div class="container">
    <br>
    <h1>Каталог предприятий</h1>
    <span th:if="${companies.size() == 0}" th:text="'Систем нет'" ></span>

    <table th:unless="${companies.size() == 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>ID</th>
            <th>Название</th>
            <th>Доп. информация(TODO)</th>
            <th>Изменить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company : ${companies}" th:attr="sys_id=${company.id}">
            <td th:text="${company.id}"/>
            <td th:text="${company.title}"/>
            <td>
                    <a th:href="@{'/info/' + ${company.id}}">"Информация"</a>
            </td>
            <td>
                <a th:href="@{'edit/' + ${company.id}}" class="btn btn-primary">Изменить</a>
            </td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{edit/0}" class="btn btn-primary">Добавить</a>
</div>

</body>
</html>
