<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Acts)"></nav>

<div class="container">
    <!--<div class="form-group">
        <div class="col-xs-15">
            <div th:if="${invoiceCreationError != null}">
                <div class="alert alert-danger col-xs-offset-1 col-xs-10">
                    <span th:text="${invoiceCreationError}" ></span>
                </div>
            </div>
        </div>
    </div>-->

    <header class="card-header">
        <h4 class="card-title mt-2">
            <span th:text="${act.number == null} ? 'Добавление акта входного контроля ' : 'Изменение '"></span>
            <span th:if="${act.number != null}"
                  th:text="'акта входного контроля №' + ${act.number} + ' от ' + ${act.date}"></span>
        </h4>
    </header>

    <form th:action="@{/acts/update}" th:object="${act}" enctype="multipart/form-data" method="post">
        <input hidden type="text" th:field="*{id}" class="form-control" id="systemId">

        <!--<div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></div>-->

        <div class="col-auto">
            <label for="invoiceNumber-id">Введите номер накладной:</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        №
                    </div>
                </div>
                <input type="text" class="form-control" id="invoiceNumber-id" th:field="*{invoice.number}" list="invoiceList"
                       autocomplete="off">
                <datalist id="invoiceList">

                </datalist>
            </div>
            <div class="invoices">
                <div th:if="*{invoice.id != null}" class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" th:value="*{invoice.id}" th:field="*{invoice.id}" id="inlineRadio">
                    <label class="form-check-label" for="inlineRadio" th:text="*{invoice.date}"></label>
                </div>
            </div>
        </div>


        <div class="col-auto">
            <label for="actNumber-id">Введите номер акта вх. контроля:</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        №
                    </div>
                </div>
                <input type="text" class="form-control" id="actNumber-id" th:field="*{number}" autocomplete="off">
            </div>
        </div>

        <div class="col-auto">
            <label for="date-id">Дата входного контроля</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                    </div>
                </div>

                <input type="text" class="form-date" name="date" id="date-id"
                       th:field="*{date}"
                       placeholder="дд.мм.гггг">
            </div>
        </div>

        <div class="col-auto">
            <label for="result-id">Выберите результат</span></label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        №
                    </div>
                </div>
                <!--                /*@thymesVar id="resultValue" type="com.kropotov.asrd.entities.enums.Result"*/-->
                <select class="custom-select" id="result-id" th:field="*{result}">
                    <option th:each="resultValue : ${T(com.kropotov.asrd.entities.enums.Result).values()}"
                            th:value="${resultValue.name()}"
                            th:text="${resultValue.title}"></option>
                </select>
            </div>
        </div>

        <div class="col-auto">
            <label for="description-id">Введите описание</label>
            <div class="input-group mb-2">
                <div class="input-group-prepend">
                    <div class="input-group-text">
                        №
                    </div>
                </div>
                <textarea type="text" class="form-control" rows="3" id="description-id" th:field="*{description}"></textarea>
            </div>
        </div>

        <div class="col-auto download-file">
            <div th:if="${act.path != null}" class="form-row">
                Файл: <a class="file-link" th:href="@{'/files/acts/' + ${act.path}}" th:text="${act.path}"
                         target="_blank"></a>
                <a class="delete-link" th:href="@{'/acts/' + ${act.id} + '/file/delete'}">
                    <i class="fa fa-trash" style="color: red;"></i>
                </a>
                <br>
                <br>
            </div>
        </div>

        <div class="col-auto upload-file">
            <div th:unless="${act.path != null}" class="form-group">
                <label for="exampleFormControlFile1">Выберите файл накладной</label>
                <input name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
            </div>
        </div>

        <hr>
        <div class="form-group">
            <button type="submit" name="addInvoice" class="btn btn-primary">Сохранить</button>
        </div>
    </form>
</div>
<div th:replace="layouts :: footer"></div>
<div th:replace="layouts :: date"></div>

<script th:src="@{/js/ajaxes.js}"></script>
<script>
    $("#invoiceNumber-id").keyup(function (event) {
        getInvoices();
    });
    $("#invoiceNumber-id").select(function (event) {
        getInvoices();
    });
    $("#invoiceNumber-id").click(function (event) {
        getInvoices();
    });


    var txt ="       <div class=\"form-group\">\n" +
        "                <label for=\"exampleFormControlFile1\">Выберите файл акта вх. контроля</label>\n" +
        "                <input name=\"file\" type=\"file\" class=\"form-control-file\" id=\"exampleFormControlFile1\">\n" +
        "            </div>\n";


    $('.delete-link').click(function (event) {
        event.preventDefault();
        if (confirm("Удалить файл " + $('.file-link').html() + "?")) {
            $.ajax({
                url: $('.delete-link').attr('href'), // отткель
                success: function () {
                    $('.upload-file').append(txt);
                    $('.download-file').empty();

                    fillTopics()
                }  // callback
            });
        } else {
            return false;
        }

    });

    function getInvoices() {
        $(".invoices").empty();
        $("#invoiceList").empty();
        $.ajax({
            url: "/asrd/api/invoices/like?invoiceNumber=" + $("#invoiceNumber-id").val(), // отткель
            dataType: "json",         // формат
            success: function (data) {
                //alert(data[1].date);
                for (var i = 0; i < data.length; i++) {
                    $("#invoiceList").append("<option>" + data[i].number + "</option>")
                    if ($("#invoiceNumber-id").val() === data[i].number) {
                        var txt = "<div class=\"form-check form-check-inline\">\n" +
                            "            <input class=\"form-check-input\" type=\"radio\" name=\"invoice.id\" id=\"inlineRadio" + i + "\" value=\"" + data[i].id + "\">\n" +
                            "            <label class=\"form-check-label\" for=\"inlineRadio" + i + "\">" + data[i].date + "</label>\n" +
                            "        </div>";
                        $(".invoices").append(txt);
                    }
                }
            }  // callback
        });
    }
</script>
</body>
</html>