<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Acts)"></nav>

<div class="container">
    <br>
    <h1>Каталог актов входного контроля</h1>
    <hr>

    <a th:href="@{/acts/0/update}"
       class="btn btn-primary btn-sm mb-3">
        Добавить
    </a>
    <span th:if="${page.items.size() == 0}" th:text="'Накладных нет'" ></span>

    <table th:unless="${page.items.size() == 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>
                Номер
                <span th:replace="~{layouts :: sortButtons(number)}"></span>
            </th>
            <th>
                Дата
                <span th:replace="~{layouts :: sortButtons(date)}"></span>
            </th>
            <th>
                Файл
                <span th:replace="~{layouts :: sortButtons(path)}"></span>
            </th>
            <th>
                Результат
                <span th:replace="~{layouts :: sortButtons(result)}"></span>
            </th>
            <th class="wide-column">
                Описание
            </th>
        </tr>
        </thead>
        <tbody>
<!--        th:onclick="'window.location.href=\'invoices/' + ${invoice.id} + '\'; return false'"-->
        <tr th:each="act, i : ${page.content}">
            <td th:text="${i.count}"></td>
            <td><a href="#" th:href="@{'/acts/' + ${act.id} + '/show'}" th:text="${act.number}"></a></td>
            <td th:text="${act.date}"></td>
            <td>
                <a th:href="@{'/files/acts/' + ${act.path}}" th:text="${act.path}" target="_blank"></a>
            </td>
            <td th:text="${act.result.title}"></td>
            <td th:text="${act.description}"></td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end">
        <nav th:replace="layouts :: pagination"></nav>
    </div>

</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>
