<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="ru">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Acts)"></nav>

<div class="container">

    <header class="card-header">
        <h4 class="card-title mt-2" th:text="'Акт входного контроля №' + ${act.number} + ' от ' + ${act.date}">
            Акт входного контроля
        </h4>
    </header>
    <br>
    <a sec:authorize="isAuthenticated()" href="#" th:href="@{'/acts/' + ${act.id} + '/update'}"
       class="btn btn-primary btn-sm mb-3">
        Редактировать
    </a>
    <p>
    <div th:if="${act.systems != null && act.systems.size() > 0}">
        Системы:<br>
        <ul>
            <li th:each="system : ${act.systems}">
                <a th:href="@{'/systems/' + ${system.id} + '/show'}"
                   th:text="${system.systemTitle.title} + ' №' + ${system.number}"></a>
            </li>
        </ul>
    </div>
    <div th:if="${act.devices != null && act.devices.size() > 0}">
        Приборы:<br>
        <ul>

            <li th:each="device : ${act.devices}">
                <a th:href="@{'/devices/' + ${device.id} + '/show'}"
                   th:text="${device.deviceTitle.title} + ' №' + ${device.number}"></a>
            </li>
        </ul>
    </div>

    Прибыли по <a th:href="@{'/invoices/' + ${act.invoice.id} + '/show'}"
                  th:text="'накладной №' + ${act.invoice.number}"></a>
    </p>
    <p th:text="'Результат: ' + ${act.result.title}"></p>
    <p th:text="'Описание: ' + ${act.description}"></p>
    <p>Файл</p>
</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>