<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="ru">

<head th:replace="layouts :: header"></head>

<body>

<nav th:replace="layouts :: navbar(Companies)"></nav>

<div class="container">
    <div class="form-group">
        <div class="col-xs-15">
<!--            <div th:if="${companyCreationError != null}">-->
<!--                <div class="alert alert-danger col-xs-offset-1 col-xs-10">-->
<!--                    <span th:text="${companyCreationError}" ></span>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

    <form th:action="@{'/companies/' +${company.id}+'/phone/'+${phone.id}+'/update/'}" th:object="${phone}" method="post">
        <input hidden type="text" th:field="*{id}" class="form-control" id="systemId">

<!--        <div class="error" th:if="${#fields.hasErrors('title')}" th:errors="*{title}" ></div>-->

        <div class="form-group">
            <label for="phone">Телефон</label>
            <input type="text" th:field="*{phone}" class="form-control" id="phone" placeholder="Введите номер телефона">
            <label >Описание</label>
            <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="Описание">
<!--            <input type="hidden" th:field="*{company}" th:value="${phone.company.id}">-->
        </div>

        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>