<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">

<head th:replace="layouts :: header"></head>
<meta charset="utf-8">
<body>

<nav th:replace="layouts :: navbar(Companies)"></nav>

<div class="container">
    <br>
    <a th:href="@{/companies}"
       class="btn btn-primary btn-sm mb-3">
        К списку компаний
    </a>
    <h1>Информация о предприятии</h1>
    <hr>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Название</th>
            <th>E-mail</th>
            <th>Факс</th>
            <th>Военное представительство</th>
            <th sec:authorize="hasRole('ADMIN')">Изменить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="comp, iterator : ${company}" th:attr="sys_id=${company.id}">
            <td th:text="${iterator.count}"></td>
            <td th:text="${company.title}"></td>
            <td th:text="${company.email}"></td>
            <td th:text="${company.fax}"></td>
            <td th:text="${company.militaryRepresentation}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/companies/'+${company.id}+'/update/'}"
                   class="btn btn-primary btn-sm mb-3">Изменить</a>
            </td>
        </tr>
        </tbody>
    </table>

    <h1>Телефоны</h1>
    <hr>
    <div>
        <a th:href="@{'/companies/' +${company.id}+'/phone/create/'}"
           class="btn btn-primary btn-sm mb-3" sec:authorize="hasRole('ADMIN')">
            Добавить
        </a>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Телефон</th>
            <th>Описание</th>
            <th sec:authorize="hasRole('ADMIN')">Изменить</th>
            <th sec:authorize="hasRole('ADMIN')">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="phon, iterator : ${phones}" th:attr="sys_id=${company.id}">
            <!--            th:onclick="'window.location.href=\'companies/' + ${phon.id} + '\'; return false'">-->
            <td th:text="${iterator.count}"></td>
            <td th:text="${phon.phone}"></td>
            <td th:text="${phon.description}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/companies/' +${company.id}+'/phone/'+${phon.id}+'/update/'}"
                   class="btn btn-primary btn-sm mb-3">Изменить</a>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <button type="button" class="btn btn-danger btn-sm mb-3" data-toggle="modal"
                        th:attr="data-target='#recordDeleteModalPhone'+${phon.id}">Удалить
                </button>

                <!-- Modal -->
                <div class="modal fade" th:attr="id='recordDeleteModalPhone'+${phon.id}" tabindex="-1"
                     role="dialog"
                     aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="recordDeleteModalPhone">Удаление телефона</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите удалить этот телефон?
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>Телефон</th>
                                        <th>Описание</th>
                                    </tr>
                                    <tr>
                                        <td th:text="${phon.phone}"></td>
                                        <td th:text="${phon.description}"></td>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                <a href="newRecordForm.html" class="btn btn-primary"
                                   th:href="@{'/companies/' +${company.id}+'/phone/'+${phon.id}+'/delete/'}">Да</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->
            </td>
        </tr>
        </tbody>
    </table>

    <h1>Адреса</h1>
    <hr>
    <div>
        <a th:href="@{'/companies/' +${company.id}+'/address/create/'}"
           class="btn btn-primary btn-sm mb-3" sec:authorize="hasRole('ADMIN')">
            Добавить
        </a>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Индекс</th>
            <th>Город</th>
            <th>Улица</th>
            <th>Дом</th>
            <th>Описание</th>
            <th sec:authorize="hasRole('ADMIN')">Изменить</th>
            <th sec:authorize="hasRole('ADMIN')">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="address, iterator : ${addresses}" th:attr="sys_id=${company.id}">
            <!--            th:onclick="'window.location.href=\'companies/' + ${address.id} + '\'; return false'"-->
            <td th:text="${iterator.count}"></td>
            <td th:text="${address.zipCode}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.place}"></td>
            <td th:text="${address.description}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/companies/' +${company.id}+'/address/'+${address.id}+'/update/'}"
                   class="btn btn-primary btn-sm mb-3">Изменить</a>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <button type="button" class="btn btn-danger btn-sm mb-3" data-toggle="modal"
                        th:attr="data-target='#recordDeleteModalAddress'+${address.id}">Удалить
                </button>

                <!-- Modal -->
                <div class="modal fade" th:attr="id='recordDeleteModalAddress'+${address.id}" tabindex="-1"
                     role="dialog"
                     aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="recordDeleteModalLabelAddress">Удаление адреса</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите удалить этот адрес?
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>Город</th>
                                        <th>Улица</th>
                                        <th>Дом</th>
                                    </tr>
                                    <tr>
                                        <td th:text="${address.city}"></td>
                                        <td th:text="${address.street}"></td>
                                        <td th:text="${address.place}"></td>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                <a href="newRecordForm.html" class="btn btn-primary"
                                   th:href="@{'/companies/' +${company.id}+'/address/'+${address.id}+'/delete/'}">Да</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->
            </td>
        </tr>
        </tbody>
    </table>


    <h1>Информация о сотрудниках</h1>
    <hr>
    <div>
        <a th:href="@{'/companies/' +${company.id}+'/employee/create/'}"
           class="btn btn-primary btn-sm mb-3" sec:authorize="hasRole('ADMIN')">
            Добавить
        </a>
    </div>
    <table class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>Имя</th>
            <th>Фамилия</th>
            <th>Отчество</th>
            <th>Должность</th>
            <th>E-mail</th>
            <th>Рабочий телефон</th>
            <th>Мобильный телефон</th>
            <th sec:authorize="hasRole('ADMIN')">Изменить</th>
            <th sec:authorize="hasRole('ADMIN')">Удалить</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="emp, iterator : ${employees}" th:attr="sys_id=${company.id}">
            <td th:text="${iterator.count}"></td>
            <td th:text="${emp.name}"></td>
            <td th:text="${emp.lastName}"></td>
            <td th:text="${emp.patronymic}"></td>
            <td th:text="${emp.position}"></td>
            <td th:text="${emp.email}"></td>
            <td th:text="${emp.workPhone}"></td>
            <td th:text="${emp.mobilPhone}"></td>
            <td sec:authorize="hasRole('ADMIN')">
                <a th:href="@{'/companies/' +${company.id}+'/employee/'+${emp.id}+'/update/'}"
                   class="btn btn-primary btn-sm mb-3">Изменить</a>
            </td>
            <td sec:authorize="hasRole('ADMIN')">
                <button type="button" class="btn btn-danger btn-sm mb-3" data-toggle="modal"
                        th:attr="data-target='#recordDeleteModalEmployee'+${emp.id}">Удалить
                </button>

                <!-- Modal -->
                <div class="modal fade" th:attr="id='recordDeleteModalEmployee'+${emp.id}" tabindex="-1" role="dialog"
                     aria-labelledby="recordDeleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="recordDeleteModalEmployee">Удаление сотрудника</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Вы уверены, что хотите удалить этого сотрудника?
                                <table class="table table-hover">
                                    <tbody>
                                    <tr>
                                        <th>Имя</th>
                                        <th>Фамилия</th>
                                        <th>Отчество</th>
                                    </tr>
                                    <tr>
                                        <td th:text="${emp.name}"></td>
                                        <td th:text="${emp.lastName}"></td>
                                        <td th:text="${emp.patronymic}"></td>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>
                                <a href="newRecordForm.html" class="btn btn-primary"
                                   th:href="@{'/companies/' +${company.id}+'/employee/'+${emp.id}+'/delete/'}">Да</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Modal end -->
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>
