<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="ru">
<head th:replace="layouts :: header"></head>
<meta charset="utf-8">
<body>

<nav th:replace="layouts :: navbar(Companies)"></nav>

<div class="container">
    <br>
    <h1>Каталог предприятий</h1>
    <hr>
    <div >
        <a th:href="@{companies/create/}"
           class="btn btn-primary btn-sm mb-3" sec:authorize="hasRole('ADMIN')">
            Добавить
        </a>
    </div>
    <span th:if="${page.items.size() == 0}" th:text="'Компаний нет'"></span>

    <table th:unless="${page.items.size() == 0}" class="table table-hover">
        <thead class="thead-dark">
        <tr>
            <th>№ п/п</th>
            <th>
                Название
                <span th:replace="~{layouts :: sortButtons(title)}"></span>
            </th>
            <th>Доп. информация</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="company, iterator : ${page.content}" th:attr="sys_id=${company.id}">
            <td th:text="${(page.number - 1) * page.size + iterator.count}"></td>
            <td th:text="${company.title}"></td>
            <td>
                <a th:href="@{'/companies/' + ${company.id} + '/show'}">"Информация"</a>
            </td>
        </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-end">
        <nav th:replace="layouts :: pagination"></nav>
    </div>
</div>
<div th:replace="layouts :: footer"></div>
</body>
</html>
