<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
</body>

    <th:block th:fragment="scripts">
        <script th:src="@{/admin/js/jquery.min.js}"></script>
        <script th:src="@{/admin/js/bootstrap.bundle.min.js}"></script>
        <script th:src="@{/admin/js/bootadmin.min.js}"></script>
        <script th:src="@{http://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js}"></script>
        <script th:src="@{/webjars/sockjs-client/sockjs.min.js}"></script>
        <script th:src="@{/webjars/stomp-websocket/stomp.min.js}"></script>
        <script th:src="@{/js/chat.js}"></script>
    </th:block>

</html>