<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body class="bg-light">

    <div th:fragment="sidebar" class="sidebar sidebar-dark bg-dark">
        <ul class="list-unstyled">
            <li sec:authorize="hasRole('ADMIN')" th:classappend="${activePage == 'Users'} ? active"><a th:href="@{/admin/users}"><i class="fa fa-fw fa-link"></i>
                Пользователи</a>
            </li>
            <li sec:authorize="hasRole('ADMIN')" th:if="${@userServiceImpl.allNewUsersConfirmedEmail()} != 0" th:classappend="${activePage == 'NewUsers'} ? active"><a th:href="@{/admin/usersNew}"><i class="fa fa-fw fa-link"></i>
                Новые пользователи ([[${@userServiceImpl.allNewUsersConfirmedEmail()}]])</a>
            </li>
            <li><a th:href="@{/}"><i
                    class="fa fa-fw fa-link"></i>На главную</a></li>
        </ul>
    </div>

</body>

</html>